<div class="task-set">
  <div class="task-set__header">
    <%= render 'components/task_selector', tasks_count: tasks_count %>
  </div>

  <div class="task-set__content task-set__content--correct">
    <%= render 'components/task', task: task %>
  </div>

  <div class="task-set__footer">
    <div class="task-set__controls">
      <a class="task-set__task-btn
               <%= 'invisible' if params[:tid].to_i <= 0 %>"
         href="?tid=<%= params[:tid].to_i - 1 %>">
        < Предыдущий шаг
      </a>

      <a class="task-set__task-btn
               <%= 'invisible' if params[:tid].to_i >= 3 %>"
         href="?tid=<%= params[:tid].to_i + 1 %>">
        Следующий шаг >
      </a>
    </div>
  </div>
</div>
