<div class="multiple-choice-task-controls">
  <% options.each.with_index do |option, id| %>
    <div class="multiple-choice-task-controls__option">
      <input class="multiple-choice-task-controls__checkbox"
             type="checkbox"
             id="option-<%= id %>"
             value="<%= id %>"
             <%= 'checked' if submission.present? && submission.contents.include?(id.to_s) %>
             <%= 'disabled' if mode == :show %>
             name="submission[contents][]">

      <label class="multiple-choice-task-controls__label"
             for="option-<%= id %>">
        <%= option.text %>
      </label>
    </div>
  <% end %>
</div>
