<nav class="sections-menu">
  <h6 class="sections-menu__header">1. Рационализация вычислительной программы</h6>

  <ul class="sections-menu__nav">
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('1-1')) %>"
         href="<%= course_theory_path('1-1') %>"
      >
        Преобразование выражений
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_task_set_path(1)) %>"
         href="<%= course_task_set_path(1) %>"
      >
        └─ Практика
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('1-2')) %>"
         href="<%= course_theory_path('1-2') %>"
      >
        Невыполнение действий
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_task_set_path(2)) %>"
         href="<%= course_task_set_path(2) %>"
      >
        └─ Практика
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('1-3')) %>"
         href="<%= course_theory_path('1-3') %>"
      >
        Усложнение  условий
      </a>
    </li>
  </ul>

  <h6 class="sections-menu__header">2. Методика обучения младших школьников рационализации вычислений</h6>

  <ul class="sections-menu__nav">
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('2-1')) %>"
         href="<%= course_theory_path('2-1') %>"
      >
        Общая информация
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('2-2')) %>"
         href="<%= course_theory_path('2-2') %>"
      >
        Этап 1: Усвоение теории арифметических действий
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('2-3')) %>"
         href="<%= course_theory_path('2-3') %>"
      >
        Этап 2: Сокращение помощи учителя, усвоение новых теоретических знаний
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_theory_path('2-4')) %>"
         href="<%= course_theory_path('2-4') %>"
      >
        Этап 3: Самостоятельный поиск удобных способов вычислений
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(course_task_set_path(3)) %>"
         href="<%= course_task_set_path(3) %>"
      >
        └─ Практика
      </a>
    </li>
  </ul>
</nav>
