<div class="exam-page">
  <div class="exam-page__row">
    <div class="exam-page__details">
      <div class="exam-page__header-row">
        <h1 class="exam-page__header"><%= exam.title %></h1>
      </div>

      <div class="exam-page__controls-row">
        <div class="exam-page__controls-col">
          <%= render 'partials/components/exams/exam_status_controls', exam: exam %>
        </div>
      </div>

      <div class="exam-page__details-row">
        <div class="exam-page__details-col">
          <%= render 'partials/components/exams/exam_details', exam: exam %>
        </div>
      </div>

      <div class="exam-page__navigation-row">
        <div class="exam-page__navigation-col">
          <%= render 'partials/components/back_navigation', back_url: exams_path %>
        </div>
      </div>
    </div>

    <div class="exam-page__results">
      <div class="exam-page__results-header-row">
        <h2 class="exam-page__results-header">
          Результаты
          <span class="exam-page__results-controls">
            <a href="<%= request.path %>" class="exam-page__reload-results-btn">
              <i class="exam-page__sync-icon"></i>
            </a>
          </span>
        </h2>
      </div>

      <%= render 'partials/components/exams/results_table', exam: exam %>
    </div>
  </div>
</div>
