<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>RatioCalc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <%= render 'partials/layouts/exam_links_layout' %>
  </body>
</html>
